temp_dirs/undodir/*
sources_non_forked/ack.vim/.netrwhist
temp_dirs/yankring_history_v2.txt
sources_forked/yankring/doc/tags
sources_non_forked/tlib/doc/tags
sources_non_forked/ctrlp.vim/doc/tags*
my_plugins/
tags
.DS_Store

# Upstream don't include these, but for stable operation, it seems these submodules are required.
/sources_non_forked/jedi-vim/pythonx/jedi/
/sources_non_forked/jedi-vim/pythonx/parso/

# local setting
my_configs_local.vim
